<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container">
    <h1><b>Movies Search</b></h1>
    <form id="searchForm">
        <input type="text" id="query" placeholder="Enter your search query">
        <input type="submit" value="Search">
    </form>
    <div id="results"></div>
</div>

<script src="/static/js/index.js"></script>
</body>
</html>
